@{
	ViewData["Title"] = "About Page";
}

<head >
	<div class="card" style="background-color:navajowhite">
		<div class="text-center card-header" style="padding-top:30px; padding-bottom:30px; font-family:'Times New Roman', Times, serif">
			<h1 style="font-size:50px"> About FPTBook </h1>
			<p> This is where you will learn more about FPTBook. Make yourself comfortable! </p>
			<p>
				Learnt about us yet? If so, then you should take a look at our books as well! <a class="btn text-success text-decoration-underline" href="/home/books">
					Yes, press here for the books.
				</a>
			</p>
		</div>
	</div>
</head>
<body>
	<div class="card-body" style="padding-top:50px">
		<div class="text-center text-danger" style="padding-bottom:30px; font-family:'Times New Roman'">
			<h1 style="padding-left:1500px"> About FPTBooks </h1>
		</div>
		<div class="row">
			<div class="col-md-8" style="font-size:17px; font-family:'Courier New'; padding-left:30px">
				<h3 style="padding-bottom:30px"> Information: </h3>
				<p> Lecturer full name: Le Ngoc Thanh </p>
				<p> Student full name: Nguyen Minh Tan </p>
				<p> Student ID: GCS210760 </p>
				<p> Subject ID: 1670 </p>
				<p> Class ID: GCS1001A </p>
			</div>
			<div class="col-md-4">
				<p style="font-size:20px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif"> FPTBook is a project of mine, a student of the University of Greenwich. The aim of the project is to design and develop a website for bookstore. </p>
			</div>
		</div>
	</div>
</body>

<footer>
	<div class="card" style="background-color:tan">
		<div class="text-center card-header" style="padding-top:30px; padding-bottom:30px; font-family:'Times New Roman', Times, serif">
			<p> © 2023 FPTBook, All rights reserved. </p>
		</div>
	</div>
</footer>

