@{
	ViewData["Title"] = "About Page";
}

<div class="text-center text-bg-success">
	<h2 class="font font-monospace"> About me? </h2>
</div>

<div style="padding-top: 50px">
	<div class="text-center text-danger" style="padding-bottom: 30px">
		<h3> Information of our member </h3>
	</div>
	<h4> Lecturer full name: Le Ngoc Thanh </h4>
	<h4> Student full name: Nguyen Minh Tan </h4>
	<h4> Student ID: GCS210760 </h4>
	<h4> Subject ID: 1670 </h4>
	<h4> Class ID: GCS1001A </h4>
</div>
