@{
	ViewData["Title"] = "Home Page";
}

<head>
	<div class="card-body row mb-4">
		<div class="col-8" style="position:relative; left:100px; top:100px; font-family:'Times New Roman', Times, serif">

			<h1 style="font-size:55px"> Hi there! Welcome to FPTBook's official website. </h1>

			<p>
				Want to learn more about us? <a class="btn text-primary text-decoration-underline" href="/home/about">
					Learn more now!
				</a>
			</p>
		</div>
		<div class="col-4">
			<div class="">
				<img style="position:relative; top:20px; border:1px solid #f0620a" width="600" height="650" src="/img/book2.jpg" />
			</div>
		</div>
	</div>
</head>

<footer>
	<div class="card" style="background-color:tan">
		<div class="text-center card-header" style="padding-top:30px; padding-bottom:30px; font-family:'Times New Roman', Times, serif">
			<p> © 2023 FPTBook, All rights reserved. </p>
		</div>
	</div>
</footer>
