@{
	ViewData["Title"] = "Home Page";
}

<head>
	<div class="card-body row mb-4">
		<div class="col-8" style="position:relative; left:100px; top:200px; font-family:'Times New Roman', Times, serif">

			<h1 style="font-size:55px"> Hi there! Welcome to FPTBook's official website. </h1>

			<p>
				Want to learn more about us? <a class="btn text-primary text-decoration-underline" href="/home/about">
					Learn more now!
				</a>
			</p>
		</div>
		<div class="col-4">
			<div class="">
				<img style="position:relative; top:20px; border:1px solid #f0620a" width="600" height="650" src="/img/book2.jpg" />
			</div>
		</div>
	</div>
</head>
<body>
	<div class="text-center">
		<h4 class="text-center" style="padding-top:10px"> Feel free to wander around. </h4>
		<a class="btn text-warning text-decoration-underline font-monospace" asp-action="Books" asp-controller="Home"> Go shopping </a>
		<a class="btn text-danger text-decoration-underline font-monospace" href="/admin"> Log in as admin </a>
	</div>
</body>

<footer>
</footer>