@{
	ViewData["Title"] = "Shopping cart";
}

@model Order
<div class="text-center" style="padding-top: 10px; padding-bottom: 10px">
	<h1 class="font font-monospace"> Almost there! </h1>
	<p> Enter your information or we will not be able to deliver your order. </p>
</div>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
	<div class="row m-1 p-3">
		<div class="col-md-12 mb-4">
			<div class="card mb-4">
				<div class="card-header py-3 bg-danger">
					<h5 class="text-center text-light"> Order info. </h5>
				</div>
				<div class="card-body">
					<form>
						<div class="row mb-4">
							<div class="col">
								<div class="form-outline">
									<label class="form-label"> Full name </label>
									<input asp-for="Name" class="form-control" />
								</div>
							</div>
							<div class="col">
								<div class="form-outline">
									<label class="form-label"> Address </label>
									<input asp-for="Address" class="form-control" />
								</div>
							</div>
						</div>

						<div class="row mb-4">
							<div class="col">
								<div class="form-outline">
									<label class="form-label"> Phone number </label>
									<input asp-for="Phone" class="form-control" />
								</div>
							</div>
							<div class="col">
								<div class="form-outline">
									<label class="form-label"> City </label>
									<input asp-for="City" class="form-control" />
								</div>
							</div>
						</div>

						<div class="row mb-4">
							<div class="col">
								<div class="form-outline">
									<label class="form-label"> Email </label>
									<input asp-for="Email" class="form-control" />
								</div>
							</div>
							<div class="col">
								<div class="form-outline">
									<label class="form-label"> Province </label>
									<input asp-for="Province" class="form-control" />
								</div>
							</div>
						</div>

						<div class="row mb-4">
							<div class="col">
								<div class="form-outline">
									<label class="form-label"> Postal code </label>
									<input asp-for="PostalCode" class="form-control" />
								</div>
							</div>
							<div class="col">
								<div class="form-outline">
									<label class="form-label"> Country </label>
									<input asp-for="Country" class="form-control" />
								</div>
							</div>
						</div>

						<div class="checkbox mb-5">
							<label class="form-check-label">
								<input asp-for="GiftWrap" class="form-check-input me-2" />
								Wrap as gift(s)?
							</label>
						</div>

						<div class="text-center mb-2">
							<input class="btn btn-success btn-lg" type="submit" value="Place order" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</form>
