@page

<div class="text-center">
	<h2> Cảm ơn. </h2>
	<p> Your order is the #@OrderId order. </p>
	<p> We will deliver your goods in no time! </p>
	<a class="btn btn-primary" asp-controller="Home"> Return to Store </a>
</div>

@functions {
	[BindProperty(SupportsGet = true)]
	public string? OrderId { get; set; }
}
