@page

<div class="text-center">
	<h2 style="padding-top:50px; font-family:'Times New Roman', Times, serif"> Thank you. </h2>
	<p style="font-family:'Courier New'"> Your order is the #@OrderId order. </p>
	<p style="font-family:'Courier New'"> We will deliver your goods in no time! </p>
	<a class="btn btn-success" asp-controller="Home"> Return to Store </a>
</div>

@functions {
	[BindProperty(SupportsGet = true)]
	public string? OrderId { get; set; }
}
