@page "/admin/products/details/{id:long}"

<h3 class="bg-success text-light text-center p-1">
	@Product.ProductName
</h3>

<table>
	<tbody>
		<tr>
			<th> ID </th>
			<td> @Product?.ProductID </td>
		</tr>
		<tr>
			<th> Name </th>
			<td> @Product?.ProductName </td>
		</tr>
		<tr>
			<th> Category </th>
			<td> @Product?.ProductCategory </td>
		</tr>
		<tr>
			<th> Price </th>
			<td> @Product?.ProductPrice.ToString("c") </td>
		</tr>
		<tr>
			<th> Quantity </th>
			<td> @Product?.ProductQuantity </td>
		</tr>
		<tr>
			<th> Description </th>
			<td> @Product?.ProductDescription </td>
		</tr>
	</tbody>
</table>

<div style="padding-top:30px">
<NavLink class="btn btn-secondary" href="/admin/products">
	Return
</NavLink>

<NavLink class="btn btn-success" href="@EditUrl">
	Modify
</NavLink>
</div>

@code {
	[Inject]
	public IStoreRepository? Repository { get; set; }

	[Parameter]
	public long ID { get; set; }

	public Product? Product { get; set; }

	protected override void OnParametersSet()
	{
		Product = Repository?.Products.FirstOrDefault(p => p.ProductID == ID);
	}

	public string EditUrl => $"/admin/products/edit/{Product?.ProductID}";
}
