@page "/admin"
@{
	Layout = null;
}

@model FPTBook_by_NguyenMinhTan.Pages.Admin.IndexModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<!DOCTYPE html>
<html>
<head>
	<title> FPTBook - Administration page </title>
	<link href="/lib//twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<base href="/" />
</head>
<body>
	<component type="typeof(Routed)" render-mode="Server" />
	<script src="/_framework/blazor.server.js"></script>
</body>
</html>
